<div class="w-3/4 m-auto mt-10 relative overflow-x-auto">
  <table
    class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400"
  >
    <thead class="text-xs text-white uppercase bg-sky-600">
      <tr>
        <th scope="col" class="px-6 py-3">ID</th>
        <th scope="col" class="px-6 py-3">Name</th>
        <th scope="col" class="px-6 py-3">Email</th>
      </tr>
    </thead>
    <tbody>
      <tr
        *ngFor="let user of users"
        class="bg-white border-b dark:bg-gray-800 dark:border-gray-700"
      >
        <th
          scope="row"
          class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white"
        >
          {{ user.id }}
        </th>
        <td class="px-6 py-4">{{ user.name }}</td>
        <td class="px-6 py-4">{{ user.email }}</td>
      </tr>
    </tbody>
  </table>
</div>
